.languageSwitcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .select {
    padding: 8px;
    font-size: 12px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .select:hover {
    background-color: #e9ecef;
  }
  
  .select:focus {
    outline: none;
    border-color: #b30000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
  