.fhs_search_header{

    position: relative;
    width: 36vw;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    input {
        padding: 8px 10px;
        width: 35vw;
        color: black;
        font-size: 14px;
        border: none;
        caret-color: var(--primary);
        outline: none;
        background-color: transparent;
    }

    &:focus-within{
        border: 1.5px solid #7A7E7F;
    }

}

.fhs_button_search_header{
    /* position:absolute; */
    width: 50px;
    height: 100%;
    right: 0.2vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    /* &:hover{
        background-color: rgb(8, 8, 225);
    } */
}

.fhs_button_search_header img{
    width: 1.5vw;
}

.fhs_mouse_point {
    cursor: pointer;
}