.fhs_frame_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44vw;
  height: 30vh;
  background-color: rgb(240, 222, 116);
  color: black;
  position: relative;
  top: 1vh;
  left: 42.5vh;
  border-radius: 8px;
}

.fhs_option_header {
  width: 5vw;
  margin-left: 0.2vw;
  margin-right: 0.8vw;
}

.fhs_option_header_span {
  display: flex;
  justify-content: flex-end;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(234, 231, 231);
  padding: 0.5vw 0;
  overflow-y: auto;
}

.items_option {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 0.4vw 0.5vw;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background: rgb(243, 151, 46);
  }
}

.items_option.active {
  background: rgb(243, 151, 46);
}

.type {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 10vw;
  height: 50vh;
  border-right: 1px solid rgb(213, 219, 219);
  padding-right: 1vh;
  margin: 1vh 0;
}

.items_type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  padding: 1vh 0;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background: rgb(16, 199, 193);
  }
}

.items_type.active {
  background: rgb(16, 199, 193);
}

.showProducts {
  display: flex;
  margin-left: 1vw;
  margin-top: 1vw;
  width: 54vw;
  height: 25vw;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 2vh;
  justify-content: space-between;
  flex-direction: row;
  overflow-y: scroll;
}

.items_showProducts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 14vw;
  height: 33vh;
  background: rgb(219, 217, 217);
  margin-bottom: 1vh;
  border-radius: 10px;
}

.img {
  width: 11vw;
  height: 7vw;
  margin: 1vw 0;
  border-radius: 6px;
}

.popup_overlay {
  position: fixed;
  top: 0vh;
  left: 0vw;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background-color: white;
  padding: 5vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: bold;
}

.close_btn {
  position: fixed;
  top: 40vh;
  right: 35vw;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}
